# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Build / Output
dist/
build/
.next/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ArangoDB Docker Volume
arango_data/

# OS / Editor
.DS_Store
.vscode/
.idea/
*.suo
*.swp

# Rust / Cargo
target/
crates/**/target/
